section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px 0;
  background: #e0e0e0;

  main {
    width: 240px; /* Set initial width to auto */
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 25px 25px 51px #c3c3c3, -25px -25px 51px #fdfdfd;
    transition: width 2s ease-in-out; /* Add transition for smooth width change */

    &.expanded {
      width: 400px; /* Set width to 400px when expanded */
      // transition: width 2s ease-in-out;
    }
    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
    }
  }
  input {
    outline: none;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 200px; /* Adjust input width to match main width */
    // transition: width 0.5s ease-in-out; /* Add transition for input width change */
  }
  button {
    outline: none;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    margin-top: 14px;
    &:active,
    &:hover {
      transform: scale(1.1);
    }
  }
}
